<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find my buddy-About</title>

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  </head>

  <body>
    <!-- header section starts  -->
    <%- include('header'); -%>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="content">
        <h3>Find my buddy</h3>
        <span> Adopt, Not Buy </span>
      </div>
    </section>

    <!-- home section ends -->

    <!-- about section starts  -->

    <section class="About" id="About">
      <h1 class="heading"><span> about </span> us</h1>

      <div class="row">
        <div class="video-container">
          <video src="images/about-vid.mp4" loop autoplay muted></video>
          <h3>best place to adopt</h3>
        </div>

        <div class="content">
          <h3>why choose us?</h3>
          <p>
            Pet animals add joy and happiness to our lives and homes. Pet lovers
            all across the world will agree to this statement. Thus every home
            adopting a pet animal can be considered a noble thought. Keeping
            pets at home helps you combat loneliness and at times pets become
            very closely associated with their masters and family members. Pets
            at home are also a status symbol in society and are at man's service
            from the dawn of civilization from one generation to the other.
          </p>
          <p>
            Pets fill the house with activity and give their masters emotional
            satisfaction and bonding. Pets are at the service house members and
            are faithful beings. They take care of the house and are faithful to
            their masters.
          </p>
        </div>
      </div>
    </section>

    <!-- Developer section starts  -->

    <section class="review" id="review">
      <h1 class="heading">About <span>Developers </span></h1>

      <div class="box-container">
        <div class="box">
          <div class="user">
            <img src="images/pic-3.png" alt="" />
            <div class="user-info">
              <h3>Keshav Varshney</h3>
              <span>20BCE0285</span>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="user">
            <img src="images/pic-3.png" alt="" />
            <div class="user-info">
              <h3>Aryan Khubchandani</h3>
              <span>20BCE0594</span>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="user">
            <img src="images/pic-3.png" alt="" />
            <div class="user-info">
              <h3>Sanjna Srivastava</h3>
              <span>20BCE0569</span>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="user">
            <img src="images/pic-3.png" alt="" />
            <div class="user-info">
              <h3>Bhavvya Sarna</h3>
              <span>20BCE0264</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Develpoers section ends -->
  </body>
</html>
