* {
  box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */

.open-button {
  background-color: rgb(107, 104, 104);
  color: white;
  padding: 16px 20px;
  border: 2px solid #555;
  border-radius: 60%;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 180px;
}

/* The popup chat - hidden by default */

.chat-popup {
  align-items: center;
  display: none;
  position: fixed;
  bottom: 0;
  right: 10px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  align-items: center;
  max-width: 200px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */

.form-container .btn {
  /* align-items: center; */
  background-color: #1dd652;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 60%;
  margin: 3px;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
